#gmap_canvas {
 	height: 60vh;
 	width: 100%;
 }
 .fa-icons {
 	font-size:  2rem;
 }
 html {
 	scroll-behavior: smooth;
 }
 .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
#landing, .card {
    background-color: tomato;
}
